@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.articles {
  @include flex-col;

  &__item {
    &:nth-child(odd) {
      align-self: flex-start;
    }

    &:nth-child(even) {
      align-self: flex-end;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}