@use "../../utils/functions/"as*;
@use "../../utils/mixins"as*;

.team {
  h2 {
    line-height: 1.3;

    +p {
      line-height: 1.65;
    }
  }

  img {
    aspect-ratio: 129/100;

    @include media(mobile-l) {
      aspect-ratio: 16/8;
    }
  }

  h3 {
    line-height: 1.35;
  }

  &.section {
    padding-block: 64px 58px;
  }
}