@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.faq {
  background-color: var(--color-yellow-100);

  h2 {
    color: var(--color-blue);
    margin: 0 auto 50px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  details {
    position: relative;
    color: var(--color-blue);
    border-bottom: 1px solid rgba(17, 45, 193, .16);
    cursor: pointer;
  }

  details[open] {
    summary {
      padding-bottom: 10px;
    }
  }

  summary {
    font-size: 18px;
    line-height: 1.2;
    font-weight: var(--fw-600);
    padding: 15px 80px 15px 25px;

    +p {
      color: var(--color-gray);
      padding: 0 80px 15px 25px;
      line-height: 1.65;
      font-family: var(--font-family-primary);
      font-size: 16px;

      @include media(mobile-l) {
        padding: 0 75px 15px 25px;
      }
    }
  }

  summary::before {
    content: "";
    position: absolute;
    display: inline-block;
    background-image: var(--arrow);
    filter: var(--blue);
    opacity: 0.6;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 32px;
    height: 32px;
    right: 24px;

    @include media(mobile-l) {
      right: 15px;
    }
  }

  details[open]>summary::before {
    top: 25%;
    transform: translateY(-50%) rotate(0);
  }

}